TOKEN_TELEGRAM = "5670971004:AAEueATeABhkNzcFL09FBPZhbfEsr2UDc5E"
TOKEN_OPENAI = "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"
URL_IMAGES = "https://yande.re/post.json?tags="
URL_FUMOS = "https://fumo-api.nosesisaid.com"
